<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


</head>
<body>
<span class="nav nav-tabs pull-right" style="margin-top: 10px">
  <li class="nav-item">
    <a class="nav-link disabled pull-right" tabindex="-1" style="alignment: right">欢迎， <b>{{ username }}</b></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/register/homepage">主页</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/database">人员管理</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/database">资源管理</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#" id="logout">注销</a>
  </li>
</span>

<!-- 修改密码 -->
<form style="margin-left:50px;margin-top:20px" method="post" action="" οnsubmit="return">
    <div class="form-group">
        <label for="old_password" stype="display:inline;">原密码：</label>
        <input type="text" class="form-control" id="old_password" name="old_password" style="display:inline;width:200px;"
               autocomplete="off"/>
    </div>
    <div class="form-group">
        <label for="password" stype="display:inline;">新密码：</label>
        <input type="text" class="form-control" id="password" name="password" style="display:inline;width:200px;"
               autocomplete="off"/>
    </div>
    <div class="form-group">
        <label for="confirm_password" style="display:inline;">确认新密码：</label>
        <input type="text" class="form-control" id="confirm_password" name="confirm_password" style="display:inline;width:200px;"
               autocomplete="off"/>
    </div>
    <div class="help-block" color="red"
         style="font-size: x-small;color: indianred;align-content: center">{{ hintmessage }}</div>
    <div>
        <button style="margin-left:87px" type="submit" class="btn btn-dark" name="login">确认修改</button>
    </div>
</form>

</body>
</html>
<script>
    //这里是关键点 .ready 函数好像监听器。
    $(document).ready(function () {
//jq的处理函数，当点击提交按钮时执行。
        $("#logout").click(function () {
//得到页面中id为a和b两个标签的值
//向服务器发送get请求，请求地址为demo_add
            $.get("logout/", function () {
//请求结果为ret，将请求结果赋值给id为result的节点
                window.location.href = "http://127.0.0.1:8000/register/"
            })
        });
    });
</script>